# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
env/
venv/
ENV/
env.bak/
venv.bak/
.venv/
pip-wheel-metadata/
*.egg-info/
dist/
build/
.eggs/

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/

# Pytest
.pytest_cache/

# VS Code / PyCharm
.vscode/
.idea/

# Environment variables
*.env
.env.*

# Mac / Linux system files
.DS_Store
Thumbs.db

# Logs
*.log

# Vercel build output
.vercel

# MyPy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/

# Local SQLite databases
*.db
*.sqlite3

# Other
*.pot
*.mo
